/*
author:linjie
modified date : 2016/3/25
*/
@charset 'utf-8';

html,body {
    width: 100%;
    height: 100%;
}

.layer {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.layer [class*="span"] {
    float: left;
    display: block;
    height: 50px;
    margin: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #eee;
    border: 1px solid #999;
}

@media screen and (min-width: 768px) {
    .span6 {
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: calc(50% - 20px);
    }
    .span4 {
        width: -moz-calc(33.3% - 20px);
        width: -webkit-calc(33.3% - 20px);
        width: calc(33.3% - 20px);
    }
    .span3 {
        width: -moz-calc(25% - 20px);
        width: -webkit-calc(25% - 20px);
        width: calc(25% - 20px);
    }
    .span2 {
        width: -moz-calc(16.6% - 20px);
        width: -webkit-calc(16.6% - 20px);
        width: calc(16.6% - 20px);
    }
    .span1 {
        width: -moz-calc(8.3% - 20px);
        width: -webkit-calc(8.3% - 20px);
        width: calc(8.3% - 20px);
    }
}

@media screen and (max-width: 767px) {
    .col12 {
        width: -moz-calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
    }
    .col8 {
        width: -moz-calc(66.6% - 20px);
        width: -webkit-calc(66.6% - 20px);
        width: calc(66.6% - 20px);
    }
    .col6 {
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: calc(50% - 20px);
    }
    .col3 {
        width: -moz-calc(25% - 20px);
        width: -webkit-calc(25% - 20px);
        width: calc(25% - 20px);
    }
    .col2 {
        width: -moz-calc(16.6% - 20px);
        width: -webkit-calc(16.6% - 20px);
        width: calc(16.6% - 20px);
    }
}
