/*
author:linjie
modified date : 2016/4/5
*/
@charset 'utf-8';

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    text-align: center;
}
.box.page {
    border: none;
} 
.box {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    border: 2px solid #3e454c;
    justify-content: space-around;
    margin: 10px;
}
.children {
    width: 100px;
    height: 60px;
}

.selecter {
    margin: 25px 0;
}
.selecter a {
    font-size: 12px;
    border: 1px solid #3e454c;
    padding: 12px 6px;
    margin: 0 25px;
    text-align: center;
    font-weight: bold;
}
.selecter span {
    padding: 6px 15px;
    color: #3e454c;
    letter-spacing: 2px;
    border: 1px solid #3e454c;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.selecter a.active span {
    color: #ff7f66;
}
.selecter a:hover {
    text-decoration: none;
}
.selecter a:hover span {
    color: #fff6e5;
    background: #3e454c;
}